Import all the required python libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
load the dataset name as (iris_final)

In [2]:
df=pd.read_csv("iris_final.csv")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Show the dimensions

In [4]:
df.shape

(150, 5)

show the names of all columns present in the dataset

In [5]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

shows information of dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

showing missing values in boolean type

In [7]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

Checking missing values in a dataframe

In [8]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

It gives statistical summary of a numerical column

In [9]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Showing datatypes of each column

In [10]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

performs grouped aggregation on the DataFrame

In [12]:
grouped_stats = df.groupby('species').agg({
    'sepal_length': ['mean', 'median', 'min', 'max', 'std'],
    'sepal_width': ['mean', 'median', 'min', 'max', 'std'],
    'petal_length': ['mean', 'median', 'min', 'max', 'std'],
    'petal_width': ['mean', 'median', 'min', 'max', 'std']
}).round(2)

Print grouped_stats

In [14]:
print(grouped_stats)

           sepal_length                        sepal_width                   \
                   mean median  min  max   std        mean median  min  max
species
setosa             5.01    5.0  4.3  5.8  0.35        3.42    3.4  2.3  4.4
versicolor         5.94    5.9  4.9  7.0  0.52        2.77    2.8  2.0  3.4
virginica          6.59    6.5  4.9  7.9  0.64        2.97    3.0  2.2  3.8

                 petal_length                        petal_width              \
             std         mean median  min  max   std        mean median  min
species
setosa      0.38         1.46   1.50  1.0  1.9  0.17        0.24    0.2  0.1
versicolor  0.31         4.26   4.35  3.0  5.1  0.47        1.33    1.3  1.0
virginica   0.32         5.55   5.55  4.5  6.9  0.55        2.03    2.0  1.4


            max   std
species
setosa      0.6  0.11
versicolor  1.8  0.20
virginica   2.5  0.27

In [15]:
grouped_stats

           sepal_length                        sepal_width                   \
                   mean median  min  max   std        mean median  min  max
species
setosa             5.01    5.0  4.3  5.8  0.35        3.42    3.4  2.3  4.4
versicolor         5.94    5.9  4.9  7.0  0.52        2.77    2.8  2.0  3.4
virginica          6.59    6.5  4.9  7.9  0.64        2.97    3.0  2.2  3.8

                 petal_length                        petal_width              \
             std         mean median  min  max   std        mean median  min
species
setosa      0.38         1.46   1.50  1.0  1.9  0.17        0.24    0.2  0.1
versicolor  0.31         4.26   4.35  3.0  5.1  0.47        1.33    1.3  1.0
virginica   0.32         5.55   5.55  4.5  6.9  0.55        2.03    2.0  1.4


            max   std
species
setosa      0.6  0.11
versicolor  1.8  0.20
virginica   2.5  0.27

groups the data by 'species', drops the 'species' column, and stores the numeric values in a nested list structure.

In [16]:
species_numeric_values = {
    species: group.drop(columns='species').values.tolist()
    for species, group in df.groupby('species')
}

print species_numeric_values

In [17]:
print(species_numeric_values)

{'setosa': [[5.1, 3.5, 1.4, 0.2], [4.9, 3.0, 1.4, 0.2], [4.7, 3.2, 1.3, 0.2], [4.6, 3.1, 1.5, 0.2], [5.0, 3.6, 1.4, 0.2], [5.4, 3.9, 1.7, 0.4], [4.6, 3.4, 1.4, 0.3], [5.0, 3.4, 1.5, 0.2], [4.4, 2.9, 1.4, 0.2], [4.9, 3.1, 1.5, 0.1], [5.4, 3.7, 1.5, 0.2], [4.8, 3.4, 1.6, 0.2], [4.8, 3.0, 1.4, 0.1], [4.3, 3.0, 1.1, 0.1], [5.8, 4.0, 1.2, 0.2], [5.7, 4.4, 1.5, 0.4], [5.4, 3.9, 1.3, 0.4], [5.1, 3.5, 1.4, 0.3], [5.7, 3.8, 1.7, 0.3], [5.1, 3.8, 1.5, 0.3], [5.4, 3.4, 1.7, 0.2], [5.1, 3.7, 1.5, 0.4], [4.6, 3.6, 1.0, 0.2], [5.1, 3.3, 1.7, 0.5], [4.8, 3.4, 1.9, 0.2], [5.0, 3.0, 1.6, 0.2], [5.0, 3.4, 1.6, 0.4], [5.2, 3.5, 1.5, 0.2], [5.2, 3.4, 1.4, 0.2], [4.7, 3.2, 1.6, 0.2], [4.8, 3.1, 1.6, 0.2], [5.4, 3.4, 1.5, 0.4], [5.2, 4.1, 1.5, 0.1], [5.5, 4.2, 1.4, 0.2], [4.9, 3.1, 1.5, 0.1], [5.0, 3.2, 1.2, 0.2], [5.5, 3.5, 1.3, 0.2], [4.9, 3.1, 1.5, 0.1], [4.4, 3.0, 1.3, 0.2], [5.1, 3.4, 1.5, 0.2], [5.0, 3.5, 1.3, 0.3], [4.5, 2.3, 1.3, 0.3], [4.4, 3.2, 1.3, 0.2], [5.0, 3.5, 1.6, 0.6], [5.1, 3.8, 1.9, 0.4], [4.8, 3.0, 1.4, 0.3], [5.1, 3.8, 1.6, 0.2], [4.6, 3.2, 1.4, 0.2], [5.3, 3.7, 1.5, 0.2], [5.0, 3.3, 1.4, 0.2]], 'versicolor': [[7.0, 3.2, 4.7, 1.4], [6.4, 3.2, 4.5, 1.5], [6.9, 3.1, 4.9, 1.5], [5.5, 2.3, 4.0, 1.3], [6.5, 2.8, 4.6, 1.5], [5.7, 2.8, 4.5, 1.3], [6.3, 3.3, 4.7, 1.6], [4.9, 2.4, 3.3, 1.0], [6.6, 2.9, 4.6, 1.3], [5.2, 2.7, 3.9, 1.4], [5.0, 2.0, 3.5, 1.0], [5.9, 3.0, 4.2, 1.5], [6.0, 2.2, 4.0, 1.0], [6.1, 2.9, 4.7, 1.4], [5.6, 2.9, 3.6, 1.3], [6.7, 3.1, 4.4, 1.4], [5.6, 3.0, 4.5, 1.5], [5.8, 2.7, 4.1, 1.0], [6.2, 2.2, 4.5, 1.5], [5.6, 2.5, 3.9, 1.1], [5.9, 3.2, 4.8, 1.8], [6.1, 2.8, 4.0, 1.3], [6.3, 2.5, 4.9, 1.5], [6.1, 2.8, 4.7, 1.2], [6.4, 2.9, 4.3, 1.3], [6.6, 3.0, 4.4, 1.4], [6.8, 2.8, 4.8, 1.4], [6.7, 3.0, 5.0, 1.7], [6.0, 2.9, 4.5, 1.5], [5.7, 2.6, 3.5, 1.0], [5.5, 2.4, 3.8, 1.1], [5.5, 2.4, 3.7, 1.0], [5.8, 2.7, 3.9, 1.2], [6.0, 2.7, 5.1, 1.6], [5.4, 3.0, 4.5, 1.5], [6.0, 3.4, 4.5, 1.6], [6.7, 3.1, 4.7, 1.5], [6.3, 2.3, 4.4, 1.3], [5.6, 3.0, 4.1, 1.3], [5.5, 2.5, 4.0, 1.3], [5.5, 2.6, 4.4, 1.2], [6.1, 3.0, 4.6, 1.4], [5.8, 2.6, 4.0, 1.2], [5.0, 2.3, 3.3, 1.0], [5.6, 2.7, 4.2, 1.3], [5.7, 3.0, 4.2, 1.2], [5.7, 2.9, 4.2, 1.3], [6.2, 2.9, 4.3, 1.3], [5.1, 2.5, 3.0, 1.1], [5.7, 2.8, 4.1, 1.3]], 'virginica': [[6.3, 3.3, 6.0, 2.5], [5.8, 2.7, 5.1, 1.9], [7.1, 3.0, 5.9, 2.1], [6.3, 2.9, 5.6, 1.8], [6.5, 3.0, 5.8, 2.2], [7.6, 3.0, 6.6, 2.1], [4.9, 2.5, 4.5, 1.7], [7.3, 2.9, 6.3, 1.8], [6.7, 2.5, 5.8, 1.8], [7.2, 3.6, 6.1, 2.5], [6.5, 3.2, 5.1, 2.0], [6.4, 2.7, 5.3, 1.9], [6.8, 3.0, 5.5, 2.1], [5.7, 2.5, 5.0, 2.0], [5.8, 2.8, 5.1, 2.4], [6.4, 3.2, 5.3, 2.3], [6.5, 3.0, 5.5, 1.8], [7.7, 3.8, 6.7, 2.2], [7.7, 2.6, 6.9, 2.3], [6.0, 2.2, 5.0, 1.5], [6.9, 3.2, 5.7, 2.3], [5.6, 2.8, 4.9, 2.0], [7.7, 2.8, 6.7, 2.0], [6.3, 2.7, 4.9, 1.8], [6.7, 3.3, 5.7, 2.1], [7.2, 3.2, 6.0, 1.8], [6.2, 2.8, 4.8, 1.8], [6.1, 3.0, 4.9, 1.8], [6.4, 2.8, 5.6, 2.1], [7.2, 3.0, 5.8, 1.6], [7.4, 2.8, 6.1, 1.9], [7.9, 3.8, 6.4, 2.0], [6.4, 2.8, 5.6, 2.2], [6.3, 2.8, 5.1, 1.5], [6.1, 2.6, 5.6, 1.4], [7.7, 3.0, 6.1, 2.3], [6.3, 3.4, 5.6, 2.4], [6.4, 3.1, 5.5, 1.8], [6.0, 3.0, 4.8, 1.8], [6.9, 3.1, 5.4, 2.1], [6.7, 3.1, 5.6, 2.4], [6.9, 3.1, 5.1, 2.3], [5.8, 2.7, 5.1, 1.9], [6.8, 3.2, 5.9, 2.3], [6.7, 3.3, 5.7, 2.5], [6.7, 3.0, 5.2, 2.3], [6.3, 2.5, 5.0, 1.9], [6.5, 3.0, 5.2, 2.0], [6.2, 3.4, 5.4, 2.3], [5.9, 3.0, 5.1, 1.8]]}

In [18]:
species_numeric_values

{'setosa': [[5.1, 3.5, 1.4, 0.2],
  [4.9, 3.0, 1.4, 0.2],
  [4.7, 3.2, 1.3, 0.2],
  [4.6, 3.1, 1.5, 0.2],
  [5.0, 3.6, 1.4, 0.2],
  [5.4, 3.9, 1.7, 0.4],
  [4.6, 3.4, 1.4, 0.3],
  [5.0, 3.4, 1.5, 0.2],
  [4.4, 2.9, 1.4, 0.2],
  [4.9, 3.1, 1.5, 0.1],
  [5.4, 3.7, 1.5, 0.2],
  [4.8, 3.4, 1.6, 0.2],
  [4.8, 3.0, 1.4, 0.1],
  [4.3, 3.0, 1.1, 0.1],
  [5.8, 4.0, 1.2, 0.2],
  [5.7, 4.4, 1.5, 0.4],
  [5.4, 3.9, 1.3, 0.4],
  [5.1, 3.5, 1.4, 0.3],
  [5.7, 3.8, 1.7, 0.3],
  [5.1, 3.8, 1.5, 0.3],
  [5.4, 3.4, 1.7, 0.2],
  [5.1, 3.7, 1.5, 0.4],
  [4.6, 3.6, 1.0, 0.2],
  [5.1, 3.3, 1.7, 0.5],
  [4.8, 3.4, 1.9, 0.2],
  [5.0, 3.0, 1.6, 0.2],
  [5.0, 3.4, 1.6, 0.4],
  [5.2, 3.5, 1.5, 0.2],
  [5.2, 3.4, 1.4, 0.2],
  [4.7, 3.2, 1.6, 0.2],
  [4.8, 3.1, 1.6, 0.2],
  [5.4, 3.4, 1.5, 0.4],
  [5.2, 4.1, 1.5, 0.1],
  [5.5, 4.2, 1.4, 0.2],
  [4.9, 3.1, 1.5, 0.1],
  [5.0, 3.2, 1.2, 0.2],
  [5.5, 3.5, 1.3, 0.2],
  [4.9, 3.1, 1.5, 0.1],
  [4.4, 3.0, 1.3, 0.2],
  [5.1, 3.4, 1.5, 0.2],
  [5.0, 3.5, 1.3, 0.3],
  [4.5, 2.3, 1.3, 0.3],
  [4.4, 3.2, 1.3, 0.2],
  [5.0, 3.5, 1.6, 0.6],
  [5.1, 3.8, 1.9, 0.4],
  [4.8, 3.0, 1.4, 0.3],
  [5.1, 3.8, 1.6, 0.2],
  [4.6, 3.2, 1.4, 0.2],
  [5.3, 3.7, 1.5, 0.2],
  [5.0, 3.3, 1.4, 0.2]],
 'versicolor': [[7.0, 3.2, 4.7, 1.4],
  [6.4, 3.2, 4.5, 1.5],
  [6.9, 3.1, 4.9, 1.5],
  [5.5, 2.3, 4.0, 1.3],
  [6.5, 2.8, 4.6, 1.5],
  [5.7, 2.8, 4.5, 1.3],
  [6.3, 3.3, 4.7, 1.6],
  [4.9, 2.4, 3.3, 1.0],
  [6.6, 2.9, 4.6, 1.3],
  [5.2, 2.7, 3.9, 1.4],
  [5.0, 2.0, 3.5, 1.0],
  [5.9, 3.0, 4.2, 1.5],
  [6.0, 2.2, 4.0, 1.0],
  [6.1, 2.9, 4.7, 1.4],
  [5.6, 2.9, 3.6, 1.3],
  [6.7, 3.1, 4.4, 1.4],
  [5.6, 3.0, 4.5, 1.5],
  [5.8, 2.7, 4.1, 1.0],
  [6.2, 2.2, 4.5, 1.5],
  [5.6, 2.5, 3.9, 1.1],
  [5.9, 3.2, 4.8, 1.8],
  [6.1, 2.8, 4.0, 1.3],
  [6.3, 2.5, 4.9, 1.5],
  [6.1, 2.8, 4.7, 1.2],
  [6.4, 2.9, 4.3, 1.3],
  [6.6, 3.0, 4.4, 1.4],
  [6.8, 2.8, 4.8, 1.4],
  [6.7, 3.0, 5.0, 1.7],
  [6.0, 2.9, 4.5, 1.5],
  [5.7, 2.6, 3.5, 1.0],
  [5.5, 2.4, 3.8, 1.1],
  [5.5, 2.4, 3.7, 1.0],
  [5.8, 2.7, 3.9, 1.2],
  [6.0, 2.7, 5.1, 1.6],
  [5.4, 3.0, 4.5, 1.5],
  [6.0, 3.4, 4.5, 1.6],
  [6.7, 3.1, 4.7, 1.5],
  [6.3, 2.3, 4.4, 1.3],
  [5.6, 3.0, 4.1, 1.3],
  [5.5, 2.5, 4.0, 1.3],
  [5.5, 2.6, 4.4, 1.2],
  [6.1, 3.0, 4.6, 1.4],
  [5.8, 2.6, 4.0, 1.2],
  [5.0, 2.3, 3.3, 1.0],
  [5.6, 2.7, 4.2, 1.3],
  [5.7, 3.0, 4.2, 1.2],
  [5.7, 2.9, 4.2, 1.3],
  [6.2, 2.9, 4.3, 1.3],
  [5.1, 2.5, 3.0, 1.1],
  [5.7, 2.8, 4.1, 1.3]],
 'virginica': [[6.3, 3.3, 6.0, 2.5],
  [5.8, 2.7, 5.1, 1.9],
  [7.1, 3.0, 5.9, 2.1],
  [6.3, 2.9, 5.6, 1.8],
  [6.5, 3.0, 5.8, 2.2],
  [7.6, 3.0, 6.6, 2.1],
  [4.9, 2.5, 4.5, 1.7],
  [7.3, 2.9, 6.3, 1.8],
  [6.7, 2.5, 5.8, 1.8],
  [7.2, 3.6, 6.1, 2.5],
  [6.5, 3.2, 5.1, 2.0],
  [6.4, 2.7, 5.3, 1.9],
  [6.8, 3.0, 5.5, 2.1],
  [5.7, 2.5, 5.0, 2.0],
  [5.8, 2.8, 5.1, 2.4],
  [6.4, 3.2, 5.3, 2.3],
  [6.5, 3.0, 5.5, 1.8],
  [7.7, 3.8, 6.7, 2.2],
  [7.7, 2.6, 6.9, 2.3],
  [6.0, 2.2, 5.0, 1.5],
  [6.9, 3.2, 5.7, 2.3],
  [5.6, 2.8, 4.9, 2.0],
  [7.7, 2.8, 6.7, 2.0],
  [6.3, 2.7, 4.9, 1.8],
  [6.7, 3.3, 5.7, 2.1],
  [7.2, 3.2, 6.0, 1.8],
  [6.2, 2.8, 4.8, 1.8],
  [6.1, 3.0, 4.9, 1.8],
  [6.4, 2.8, 5.6, 2.1],
  [7.2, 3.0, 5.8, 1.6],
  [7.4, 2.8, 6.1, 1.9],
  [7.9, 3.8, 6.4, 2.0],
  [6.4, 2.8, 5.6, 2.2],
  [6.3, 2.8, 5.1, 1.5],
  [6.1, 2.6, 5.6, 1.4],
  [7.7, 3.0, 6.1, 2.3],
  [6.3, 3.4, 5.6, 2.4],
  [6.4, 3.1, 5.5, 1.8],
  [6.0, 3.0, 4.8, 1.8],
  [6.9, 3.1, 5.4, 2.1],
  [6.7, 3.1, 5.6, 2.4],
  [6.9, 3.1, 5.1, 2.3],
  [5.8, 2.7, 5.1, 1.9],
  [6.8, 3.2, 5.9, 2.3],
  [6.7, 3.3, 5.7, 2.5],
  [6.7, 3.0, 5.2, 2.3],
  [6.3, 2.5, 5.0, 1.9],
  [6.5, 3.0, 5.2, 2.0],
  [6.2, 3.4, 5.4, 2.3],
  [5.9, 3.0, 5.1, 1.8]]}

In [19]:
species_descriptive_stats = {
    species: df[df['species'] == species]                    # Filter rows for this species
              .drop(columns='species')                       #  Remove the species column (only keep numeric)
              .describe(percentiles=[0.25, 0.5, 0.75])        # Get descriptive statistics
              .round(2)                                      #  Round all results to 2 decimal places
    for species in df['species'].unique()                    # Repeat for each unique species
}

In [20]:
species_descriptive_stats

{'setosa':        sepal_length  sepal_width  petal_length  petal_width
 count         50.00        50.00         50.00        50.00
 mean           5.01         3.42          1.46         0.24
 std            0.35         0.38          0.17         0.11
 min            4.30         2.30          1.00         0.10
 25%            4.80         3.12          1.40         0.20
 50%            5.00         3.40          1.50         0.20
 75%            5.20         3.68          1.58         0.30
 max            5.80         4.40          1.90         0.60,
 'versicolor':        sepal_length  sepal_width  petal_length  petal_width
 count         50.00        50.00         50.00        50.00
 mean           5.94         2.77          4.26         1.33
 std            0.52         0.31          0.47         0.20
 min            4.90         2.00          3.00         1.00
 25%            5.60         2.52          4.00         1.20
 50%            5.90         2.80          4.35         1.30
 75%            6.30         3.00          4.60         1.50
 max            7.00         3.40          5.10         1.80,
 'virginica':        sepal_length  sepal_width  petal_length  petal_width
 count         50.00        50.00         50.00        50.00
 mean           6.59         2.97          5.55         2.03
 std            0.64         0.32          0.55         0.27
 min            4.90         2.20          4.50         1.40
 25%            6.22         2.80          5.10         1.80
 50%            6.50         3.00          5.55         2.00
 75%            6.90         3.18          5.88         2.30
 max            7.90         3.80          6.90         2.50}